<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionBuilder" class="ru.otus.teststudents.dao.QuestionBuilderCSV">
    </bean>

    <bean id="readerQuestionsDao" class="ru.otus.teststudents.dao.ReaderQuestionsDaoCSV">
        <constructor-arg name="csvFileName" value="questions.csv"/>
        <constructor-arg ref="questionBuilder"/>
    </bean>

    <bean id="publisherQuestionsDao" class="ru.otus.teststudents.dao.PublisherQuestionsDaoConsole">
    </bean>

    <bean id="studentsService" class="ru.otus.teststudents.service.StudentsServiceImpl">
        <constructor-arg name="readerQuestionsDao" ref="readerQuestionsDao"/>
        <constructor-arg name="publisherQuestionsDao" ref="publisherQuestionsDao"/>
    </bean>

</beans>
