<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
</head>

<style>
    body {
        padding: 50px;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    input {
        width: 200px;
    }

    select {
        width: 200px;
    }

    input:read-only {
        background: lightgray;
    }

    .row {
        margin-top: 10px;
    }

    .errors {
        color: red;
    }
</style>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>

<script>

    var editbook;


    function loadAuthors() {
        $.get('/api/authors').done(function (authors) {
            const authorSelector = document.getElementById("book-author")
            authors.forEach(function (author) {
                var opt = document.createElement('option');
                opt.value = author.id;
                opt.text = author.firstName + ` ` +  author.surName;
                opt.selected = editbook.author.id == author.id;
                authorSelector.appendChild(opt);
            })
        })
    }

    function loadGenres() {
        $.get('/api/genres').done(function (genres) {
            const genreSelector = document.getElementById("book-genre")
            genres.forEach(function (genre) {
                var opt = document.createElement('option');
                opt.value = genre.id;
                opt.text = genre.name;
                opt.selected = editbook.genre.id == genre.id;
                genreSelector.appendChild(opt);
            })
        })
    }


    function loadBook() {
        var myParam = location.search.split('id=')[1]
        $.get('/api/books/' + myParam).done(function (book) {
            editbook = book;
            document.getElementById('id-input').value = book.id;
            document.getElementById('book-title').value = book.title;
            loadAuthors();
            loadGenres();
        })
    }

    function saveBook() {
        $.ajax({
            url: '/api/books?id=' + document.getElementById('id-input').value +
                '&title=' + document.getElementById('book-title').value +
                '&authorId=' + document.getElementById("book-author").value +
                '&genreId=' + document.getElementById("book-genre").value,
            type: 'PUT',
            success: function(result) {
                window.location.href = '/';
            }
        });
    }

    function cancelEdit() {
        window.location.href = '/';
    }


    window.onload = loadBook;
</script>

</head>
<body>

<form id="edit-form" action="bookedit.html">
    <h3>Книга:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly"/>
    </div>
    <div class="row">
        <label for="book-title">Заголовок:</label>
        <input id="book-title" name="title" type="text"/>
        </div>
    </div>
    <div class="row">
        <label for="book-author">Автор:</label>
        <select id="book-author" name="authorId">
        </select>
    </div>
    <div class="row">
        <label for="book-genre">Жанр:</label>
        <select id="book-genre" name="genreId">
        </select>
        </div>
    </div>

    <div class="row">
        <button type="button" onclick="saveBook()">Сохранить</button>
        <button type="button" onclick="cancelEdit()">Отмена</button>
    </div>

</form>

</body>
</html>
