.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9A9A9A;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
